@font-face {
  font-family: "Popins";
  src: url("../assets/fonts/Poppins-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Popins";
  src: url("../assets/fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Popins";
  src: url("../assets/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

.menu__txt {
  font-family: "Popins";
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
  color: #454545;
}

.name {
  font-family: "Popins";
  font-weight: 600;
  font-size: 150px;
  line-height: 150px;
  color: #454545;
}

.job {
  font-family: "Popins";
  font-weight: 300;
  font-size: 55px;
  line-height: 155px;
  color: #454545;
}

.main-tittle {
  font-family: "Popins";
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  color: #454545;

  &::after {
    content: "";

    margin-top: 10px;
    margin-bottom: 30px;

    display: block;
    width: 130px;
    height: 5px;

    background: #454545;
  }
}

.sub-tittle {
  font-family: "Popins";
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #454545;
}

.description {
  font-family: "Popins";
  font-weight: 300;
  font-size: 20px;
  line-height: 45px;
  color: #454545;
}

.a_link {
  text-decoration: none;
}