* {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  box-sizing: border-box;
}

.menu {
  height: 70px;
  display: flex;
  align-items: center;

  &__list {
    width: 1440px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__link {
    text-decoration: none;
  }
}